<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Details</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js}">
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="card bg-primary mb-3 mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            <h1 class="card-title" th:text="${recipe.description}">Recipe Details</h1>
                        </div>
                        <div class="col-md-3">
                            <a href="image">
                                <button class="btn btn-primary">Change image</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-3">
                            <h5>Categories</h5>
                        </div>
                        <div class="col-md-3">
                            <ul>
                                <li th:remove="all">Cat one</li>
                                <li th:remove="all">Cat two</li>
                                <li th:each="cat : ${recipe.categories}" th:text="${cat.description}"></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="../../static/images/broken.jpg"
                                 th:src="@{/images/guacamole-400x400.jpg}"
                                 width="200" height="200">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <h5>Prep time</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.prepTime} + ' min'">99 min</p>
                        </div>

                        <div class="col-md-3">
                            <h5>Difficulty</h5>
                        </div>
                        <div class="col-md-3">
                            <p th:text="${recipe.difficulty}">Easy cheesy</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 mb-3">

            <div class="card bg-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h2 class="card-title">Ingredients</h2>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="btn btn-default" role="button" th:href="'/recipes/' + ${recipe.id} + '/ingredients'">View</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <li th:each="ingredient : ${recipe.ingredients}"
                                    th:text="${ingredient.amount + ' ' + ingredient.unitOfMeasure.description + ' ' + ingredient.description}">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 mb-3">

            <div class="card bg-primary">
                <div class="card-header">
                    <h2 class="card-title">Directions</h2>
                </div>
                <div class="card-body">
                    <p th:text="${recipe.directions}">Directions directions</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 md-3">

            <div class="card bg-primary">
                <div class="card-header">
                    <h2 class="card-title">Notes</h2>
                </div>
                <div class="card-body">
                    <p th:text="${recipe.notes.content}">Notes notes notes</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
